<!-- <div class="editor" #editor>
  
</div> -->
<div class="background"></div>
<div class="grid">

    <div class="wide-column stage" #stage (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave(1)">
        <div class="overlay" [@coverage]="swap[1] ? 'light' : 'dark'">
        </div>
        <div class="a3d a" [@swap]="swap[1] ? 'closeR': 'open'">
            <span class="toptitle">
                <h1>Über uns</h1>
                <span>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                </span>
            </span>
        </div>
        <div class="a3d b" [@swap]="swap[1] ? 'open': 'closeL'" (@swap.done)="next()">
            <span class="toptitle">
                Themen über uns:
            </span>
            <div class="menu">
                <div class="menu-item" *ngFor="let x of menus[0]">{{x}}</div>
            </div>
        </div>
    </div>
    <div class="wide-column stage" #stage (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave(2)">
        <div class="overlay" [@coverage]="swap[2] ? 'light' : 'dark'">
        </div>
        <div class="a3d a" [@swap]="swap[2] ? 'closeR': 'open'">
            <span class="toptitle">
                <h1>Aktivitäten</h1>
                <span>
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                </span>
            </span>
        </div>
        <div class="a3d b" [@swap]="swap[2] ? 'open': 'closeL'" (@swap.done)="next()">
            <span class="toptitle">
                die Aktivitäten unserer Gemeinde:
            </span>
            <div class="menu">
                <div class="menu-item" *ngFor="let x of menus[1]">{{x}}</div>
            </div>
        </div>
    </div>
    <div class="wide-column stage" #stage (mouseenter)="mouseEnter(3)" (mouseleave)="mouseLeave(3)">
        <div class="overlay" [@coverage]="swap[3] ? 'light' : 'dark'">
        </div>
        <div class="a3d a" [@swap]="swap[3] ? 'closeR': 'open'">
            <span class="toptitle">
                <h1>Termine</h1>
                <span>
                    At vero eos et accusam et justo duo dolores et ea rebum.
                </span>
            </span>
        </div>
        <div class="a3d b" [@swap]="swap[3] ? 'open': 'closeL'" (@swap.done)="next()">
            <span class="toptitle">
                die nächsten Termine:
            </span>
            <div class="events">
                <div class="event" *ngFor="let event of events">
                    <img src="/assets/event.svg" alt="">
                    <div class="description">{{event.title}}</div>
                    <div class="date">{{event.date}}</div>
                </div>
                <div class="more">
                    Mehr...
                </div>
            </div>
        </div>
    </div>
    <div class="sgrid">
        <span class="img-container">
            <img alt="Logo" src="/assets/170420-Symbol-R-Standard.png" />
        </span>
    </div>
</div>

<!-- <button (click)="swapit()">swap</button> -->
<div class="footer">
    <a href="http://adventgemeinde-magdeburg.de/impressum">Impressum</a>
    <a href="http://adventgemeinde-magdeburg.de/datenschutz">Datenschutz</a>
    <a href="http://adventgemeinde-magdeburg.de/login">Login</a>
</div>